{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
پروفایل | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}
<div style="padding:4%">

<br>
<h3 class="redC-text uk-card-title uk-text-right fYekan-bold font-6">پروفایل</h3>
<div  class="uk-grid-match uk-text-center uk-grid-large" uk-grid>

      <div class="uk-width-1-1 uk-block">
<div  class="uk-card uk-card-default uk-card-body milkywhiteC  border-radius-2 shadow-3">

      <div style="margin-top:-25px; font-size:18px;"  class=" fHarmattan uk-text-large uk-grid-small" uk-grid><br>
          <div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-left redC-text" >نام کاربری</div><div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-right darkgreyC-text">{{user.username }}</div>
          <div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-left redC-text" >نام و نام خانوادگی</div><div class="uk-width-1-4@m uk-width-1-4@s uk-width-1-2 uk-text-right darkgreyC-text">{{user.name }}</div>
          <div class=" uk-width-1-2 uk-text-left redC-text" >آدرس</div><div class=" uk-width-1-2 uk-text-right darkgreyC-text">{{user.commonusers.address }}</div>
<a href="{% url 'accounts:passwordchange' user.slug %}" class="uk-button redC-text uk-width-1-1 uk-margin-small-bottom fHarmattan font-3 uk-text-right">تعویض رمز عبور</a>
      </div>
</div>

</div>

</div>

{% if orders %}
<h3 class="redC-text uk-card-title uk-text-right fYekan-bold font-6">سفارشات</h3>
{% endif %}

<div class="uk-grid-match uk-text-center uk-grid-large" uk-grid>

  {% for order in orders %}

        <div class="uk-width-1-1 uk-width-1-2@m uk-block">
  <div  class="uk-card uk-card-default uk-card-body milkywhiteC border-radius-2 shadow-3">

        <div style="margin-top:-25px; font-size:18px;"  class=" fHarmattan uk-text-large uk-grid-small" uk-grid>
<div class=" uk-width-1-1 uk-text-right darkgreyC-text">{{order.product.name }}</div>
            <div class=" uk-width-1-1 uk-text-center redC-text" >توضیحات</div><div class=" uk-width-1-1 uk-text-center darkgreyC-text">{{order.description }}</div>

        </div>
  </div>

  </div>


    {% endfor %}
</div>
</div>
    {% endblock %}
