{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
شکایت | شعله خیز
</title>
{% endblock %}

{% block body_block %}
<br>
<div style="padding:7%">


<div style="padding: 1%;border-radius: 8px;" uk-grid>
<div class=" uk-width-1-1 uk-block fHarmattan ">
<div class="uk-card uk-card-body milkywhiteC ">
<div class="uk-card uk-card uk-card-body uk-text-center">
    <p style="font-size:30px;" class="redC-text uk-card-title uk-align-center fHarmattan">فرم شکایت</p>
    <p style="font-size:18px;" class="black-text uk-card-title uk-text-right fHarmattan">اگر از شرکت شعله خیز آذر شکایتی دارید یا هر یک از محصولات ما
    دارای ایراد بود با عرض پوزش از مشکل به وجود آمده فرم زیر را تکمیل نمایید تا همکاران ما در اسرع وقت با شما تماس گرفته و مشکل به وجود آمده را حل کنند.
<br>
  با تشکر شرکت شعله خیز آذر</p>
    <form enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <div  class="uk-grid-match uk-grid-small uk-text-center" uk-grid>

      <div class="uk-width-1">
{{complaint_form.name}}
{{complaint_form.Hfield}}
      </div>

      <div class="uk-width-1-2@m">
      {{complaint_form.phone_number}}
      </div>

      <div class="uk-width-1-2@m">
  <span>  عکس  {{complaint_form.picture}}</span>
      </div>

      <div class="uk-width-1">
      {{complaint_form.request}}
      </div>

      <div class="uk-width-1-2@m uk-text-right fHarmattan">رعایت نظافت بعد از اتمام کار</div>
      <div class="uk-width-1-2@m uk-text-right fHarmattan">
            <label><input class="uk-radio" type="radio" id="1" name="rate_cleanness" value="1">  غیر قابل قبول</label>
            <label><input class="uk-radio" type="radio" id="2" name="rate_cleanness" value="2">  قابل قبول</label>
            <label><input class="uk-radio" type="radio" id="3" name="rate_cleanness" value="3">  فراتر از انتظار</label>
      </div>
      <div class="uk-width-1-2@m uk-text-right fHarmattan">رعایت نکات ظاهری و زیبایی در نصب</div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">
              <label><input class="uk-radio" type="radio" id="1" name="rate_beautiness" value="1">  غیر قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="2" name="rate_beautiness" value="2">  قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="3" name="rate_beautiness" value="3">  فراتر از انتظار</label>
            </div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">رضایت از ظاهر و پوشش سرویسکار</div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">
              <label><input class="uk-radio" type="radio" id="1" name="rate_clothes" value="1">  غیر قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="2" name="rate_clothes" value="2">  قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="3" name="rate_clothes" value="3">  فراتر از انتظار</label>
            </div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">رضایت از رفتار سرویسکار</div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">
              <label><input class="uk-radio" type="radio" id="1" name="rate_behaviour" value="1">  غیر قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="2" name="rate_behaviour" value="2">  قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="3" name="rate_behaviour" value="3">  فراتر از انتظار</label>
            </div>

            <div class="uk-width-1-2@m uk-text-right fHarmattan">به نتیجه رسیدن درخواست، در همان بار اول مراجعه</div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">
                  <label><input class="uk-radio" type="radio" id="1" name="rate_effectiveness" value="1">  بله</label>
                  <label><input class="uk-radio" type="radio" id="2" name="rate_effectiveness" value="2">  خیر</label>
            </div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">ارزیابی کلی سرویسکار</div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">
              <label><input class="uk-radio" type="radio" id="1" name="rate_overall" value="1">  غیر قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="2" name="rate_overall" value="2">  قابل قبول</label>
              <label><input class="uk-radio" type="radio" id="3" name="rate_overall" value="3">  فراتر از انتظار</label>
            </div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">زمان مراجعه سرویسکار پس از درخواست سرویس:</div>
            <div class="uk-width-1-2@m uk-text-right fHarmattan">
              <label><input class="uk-radio" type="radio" id="1" name="visiting_day" value="1">  همان روز</label>
              <label><input class="uk-radio" type="radio" id="2" name="visiting_day" value="2">  روز بعد</label>
              <label><input class="uk-radio" type="radio" id="3" name="visiting_day" value="3"> دو روز دیگر</label>
              <label><input class="uk-radio" type="radio" id="4" name="visiting_day" value="4">  سه روز و بیشتر</label>
            </div>

      </div>
      <br>
      {% if complaint_form.errors %}
      <div class="uk-width-1-1 fHarmattan redC-text"><p>
      خطایی رخ داد.
      لطفا فیلد هارا دوباره با دقت پر کنید.<br>
      در صورت تداوم خطا مشکل را به پشتیبانان سایت اطلاع دهید.<br>

      {{complaint_form.errors}}</p>
    </div>
      {% endif %}
      <button style="margin-top:20px;" class="uk-button uk-button-primary fHarmattan redC " type="submit">تایید
    </button>
    </form>
</div>


</div>
</div>
</div>
</div>
<br><br>

    {% endblock %}
