{% extends "BaseTemplates/base1.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
لیست شکایات | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}
<br>
<h3 style="font-size:30px;" class="redC-text uk-card-title uk-text-center fHarmattan uk-text-large">لیست شکایات</h3>
<div style="padding:5%" class="uk-grid-match uk-text-center uk-grid-large" uk-grid>
{% for complaint in complaint_list %}

      <div class="uk-width-1-1 uk-block">
<div  class="uk-card uk-card-default uk-card-body milkywhiteC">

      <div style="margin-top:-25px"  class=" fHarmattan uk-text-large uk-grid-small" uk-grid>
          <div class="uk-width-1-2 uk-text-left redC-text" >نام</div><div class="uk-width-1-2 uk-text-right darkgreyC-text">{{complaint.name}}</div>

          <div class="uk-width-1-2 uk-text-left redC-text" >شماره تماس</div><div class="uk-width-1-2 uk-text-right darkgreyC-text">{{complaint.phone_number}}</div>
          <div class="uk-width-1-2 uk-text-left redC-text" >فایل ارسالی</div><div class="uk-width-1-2 uk-text-right darkgreyC-text"> <a href="{{complaint.picture.url}}">دانلود</a> </div>

          <div class="uk-width-1-1 uk-text-center redC-text" >متن شکایت</div><div class="uk-width-1-1 uk-text-justify darkgreyC-text">{{complaint.request}}</div>
<br>
<a href="{% url 'company:complaint-delete' complaint.pk  %}" class="uk-button redC uk-width-1-1 uk-margin-small-bottom whiteC-text fHarmattan uk-text-large">حذف</a>
      </div>



</div>

</div>

{% endfor %}
</div>
    {% endblock %}
