{% extends "BaseTemplates/base2.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
پکیج ها | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}

<div style="padding:4%;" class="uk-grid-match uk-text-center uk-grid-small" uk-grid>
  <div class="uk-width-1-1 uk-width-1-2@s uk-width-2-3@m uk-block fHarmattan uk-text-right">
    <ul style="font-size:18px; margin:5%;">
      <p style="margin:10px;" class="redC-text uk-text-bold" >پکیج دیواری شعله خیز</p>
      <p style="margin:10px;" class="redC-text uk-text-bold" >2 سال گارانتی</p>
      <p style="margin:10px;" class="redC-text uk-text-bold" >10 سال خدمات پس از فروش</p>
      <p style="margin:10px;" class="redC-text uk-text-bold">تحت پوشش بیمه ایران</p>

      <li style="margin:10px;margin-right:35px;" class="redC-text">غرامت بیمه برای خسارات مالی تا 30 میلیون تومان
      </li>
      <li style="margin:10px;margin-right:35px;" class="redC-text">غرامت بیمه برای حوادث پزشکی تا 20 میلیون تومان
      </li>
      <li style="margin:10px;margin-right:35px;" class="redC-text">فوت و نقص عضو برای هر نفر 200 میلیون تومان
      </li>

      <p style="margin:10px;">مجهز به سیستم آیونایز حفاظت از شعله
  </p>
<p style="margin:10px;">مجهز به سیستم عیب یاب الکترونیکی
  </p>
<p style="margin:10px;">مطابق با استاندارد های ملی ایران
  </p>
<p style="margin:10px;">تمامی قطعات پکیج EMKO وارداتی و ایتالیایی می باشد
  </p>
<p style="margin:10px;">تمامی قطعات پکیج GOLD تولید ملی می باشد
  </p>
</ul>

</div>
{% for product in products %}

      <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-block fHarmattan">

        <div style="border-radius: 8px;" class="uk-card uk-card-default whiteC">
            <div style=" padding:8px;" class="uk-card-media-top">

                <img style="border-radius: 8px; " src="{{product.picture.url}}">

            </div>
            <div class="uk-card-body">
              <div  class="uk-grid uk-grid-small darkgreyC-text" uk-grid>
                <div class="uk-card-title fHarmattan uk-text-bold uk-width-1-1 uk-text-right redC-text" style="color:#ff0a0a;font-size:25px;">
{{product.name}}
</div>

                <div class="uk-text-right uk-text-justify " style="font-size:20px;">{{product.description|linebreaks}}</div>

              </div>
            </div>
        </div>

        <a style="border-top:solid 4px #f2f2f2; font-size:20px;border-radius: 8px;" class="uk-button uk-button-large redC whiteC-text fHarmattan " href="{{product.cataloge.url}}">کاتالوگ</a>
        <a style="border-top:solid 4px #f2f2f2; font-size:20px;border-radius: 8px;" class="uk-button uk-button-large redC whiteC-text fHarmattan " href="{% url 'ordering:order' product.pk %}">سفارش</a>
        <a style="border-top:solid 4px #f2f2f2; font-size:20px;border-radius: 8px;background-color:#f43434;" class="uk-button uk-button-large whiteC-text fHarmattan " href="https://www.aparat.com/v/cJuiH">آموزش سفارش</a>

</div>
{% endfor %}

</div>
    {% endblock %}
