{% extends "BaseTemplates/base2.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
رادیاتور های پنلی | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}


<div style="padding:4%" class="uk-grid-match uk-text-center uk-grid-small" uk-grid>
  <div class="uk-width-1-1 uk-width-1-2@s uk-width-2-3@m uk-block fHarmattan uk-text-right">
    <ul style="font-size:20px; margin:5%;">
      <p style="margin:25px;" class="redC-text uk-text-bold" >رادیاتور پنلی شعله خیز</p>
      <p style="margin:25px;" class="redC-text uk-text-bold" >12 سال گارانتی تعویض</p>
      <p style="margin:25px;" class="redC-text uk-text-bold">تحت پوشش بیمه ایران به مدت 5 سال تا سقف 10 میلیون تومان</p>

  <li style="margin:8px;">کاهش تعداد دفعات هواگیری نسبت به رادیاتور های آلومینیومی
  </li>

  <li style="margin:8px;">ورق های استفاده شده طبق استاندارد ST 12-13
  </li>
  <li style="margin:8px;">قابلیت تولید به صورت یک طرف و دو طرف نصب
  </li>
  <li style="margin:8px;">ظرفیت حرارتی 1920 کیلو کالری بر ساعت
  </li>
  <li style="margin:8px;">مطابق با استاندارد های ملی ایران
  </li>
  <li style="margin:8px;">سازگاری با انواع پکیج
  </li>
  <li style="margin:8px;">دارای گرید انرژی B
  </li>
  <li style="margin:8px;">
    در ارتفاع و آکس های مختلف
  </li>
  <p style="margin:5px;margin-right:25px;">ارتفاع 50 آکس 45
  </p>
  <p style="margin:5px;margin-right:25px;">ارتفاع 55 آکس 50
  </p>
  <p style="margin:5px;margin-right:25px;">ارتفاع 60 آکس 55
  </p>
</ul>

</div>
{% for product in products %}

      <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-block fHarmattan">

        <div style="border-radius: 8px;" class="uk-card uk-card-default whiteC">
            <div style=" padding:8px;" class="uk-card-media-top">

                <img style="border-radius: 8px; " src="{{product.picture.url}}">

            </div>
            <div class="uk-card-body">
              <div  class="uk-grid uk-grid-small darkgreyC-text" uk-grid>
                <div class="uk-card-title fHarmattan uk-text-bold uk-width-1-1 uk-text-right redC-text" style="color:#ff0a0a;font-size:25px;">
{{product.name}}
</div>

                <div class="uk-text-right uk-text-justify " style="font-size:20px;">{{product.description|linebreaks}}</div>

              </div>
            </div>
        </div>

        <a style="border-top:solid 4px #f2f2f2; font-size:20px;border-radius: 8px;" class=" uk-button uk-button-large redC whiteC-text fHarmattan uk-text-bold " href="{{product.cataloge.url}}">کاتالوگ</a>
        <a style="border-top:solid 4px #f2f2f2; font-size:20px;border-radius: 8px;" class=" uk-button uk-button-large redC whiteC-text fHarmattan uk-text-bold" href="{% url 'ordering:order' product.pk %}">سفارش</a>

</div>
{% endfor %}
</div>
    {% endblock %}
