{% extends "BaseTemplates/base2.html" %}

{% block head_block %}
<meta name=”robots” content=”noindex,follow”>
<title>
حوله خشک کن | شعله خیز آذر
</title>
{% endblock %}

{% block body_block %}

<div style="padding:4%" class="uk-grid-match uk-text-center uk-grid-small" uk-grid>
  <div class="uk-width-1-1 uk-width-1-2@s uk-width-2-3@m uk-block fHarmattan uk-text-right">
    <ul style="font-size:20px; margin:5%;">
      <p style="margin:25px;" class="redC-text uk-text-bold" >حوله خشک کن شعله خیز</p>
      <p style="margin:25px;" class="redC-text uk-text-bold" >10 سال گارانتی</p>

  <li style="margin:8px;">کیفیت تولید مطابق با آخرین تکنولوژی روز دنیا
  </li>
  <li style="margin:8px;">مطابق با استاندارد های ملی ایران
  </li>
  <li style="margin:8px;">طراحی کلاسیک و چشم نواز
  </li>
  <li style="margin:8px;">در اندازه های مختلف
  </li>


</ul>

</div>
{% for product in products %}

      <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-block fHarmattan">

        <div style="border-radius: 8px;" class="uk-card uk-card-default whiteC">
            <div style=" padding:8px;" class="uk-card-media-top">

                <img style="border-radius: 8px; " src="{{product.picture.url}}">

            </div>
            <div class="uk-card-body">
              <div  class="uk-grid uk-grid-small darkgreyC-text" uk-grid>
                <div class="uk-card-title fHarmattan uk-text-bold uk-width-1-1 uk-text-right redC-text" style="color:#ff0a0a;font-size:25px;">
{{product.name}}
</div>

                <div class="uk-text-right uk-text-justify " style="font-size:20px;">{{product.description|linebreaks}}</div>

              </div>
            </div>
        </div>

        <a style="border-top:solid 4px #fafafa; font-size:20px;border-radius: 8px;" class="uk-button uk-button-large whiteC redC-text fHarmattan " href="{{product.cataloge.url}}">کاتالوگ</a>
        <a style="border-top:solid 4px #fafafa; font-size:20px;border-radius: 8px;" class="uk-button uk-button-large whiteC redC-text fHarmattan " href="{% url 'ordering:order' product.pk %}">سفارش</a>

</div>
{% endfor %}
</div>
    {% endblock %}
